body {
  background: url('../assets/images/bg.jpg') no-repeat;
  background-size: 100vh;
  background-position: 50% -1.9rem;
}

.donate-btn {
  width: 14rem;
  height: 4rem;
  color: #ffffff;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border: 2px solid #ffff00;
  border-radius: 4px;
  transition: all 500ms ease-in-out;

  &:hover {
    background-color: transparent;
    border-color: #0d6efd;
  }

  &:active {
    outline: none;
    background-color: transparent !important;
    border: 2px solid #ffff00 !important;
    background-color: transparent !important;
  }

  &:focus {
    border: 2px solid #ffff00 !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  &::before {
    width: 0;
    height: 1.9rem;
    background-color: #0000ff;
    transition: all 500ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &::after {
    width: 0;
    height: 1.9rem;
    background-color: #ffff00;
    transition: all 500ms ease-in-out;
    transition-delay: 200ms;
    position: absolute;
    top: 1.9rem;
    left: 0;
    content: '';
  }

  &:hover::before,
  &:hover::after {
    width: 13.75rem;
  }

  span {
    position: absolute;
    z-index: 10;
    transition: all 500ms ease-in-out;
    transition-delay: 100ms;
  }

  #Support {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: red;
    padding-top: 0.2rem;
  }

  #AFU {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 2rem;
  }

  &:hover #Support {
    color: #ffff00;
  }

  &:hover #AFU {
    color: #0000ff;
  }
}

.exchange-table {
  width: 17.5rem;
}

.converter-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  .converter-card {
    width: 50rem;
    height: 10rem;
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 0px 77px 3px rgba(66, 68, 90, 1);
    }

    .exchange-arrows {
      width: 3rem;
      height: 3rem;
    }

    .form-group {
      width: 100%;
    }

    .form-control {
      width: 50% !important;
    }
  }
}

@media screen and (max-width: 770px) {
  .form-group {
    width: 5rem;
  }
  .form-control {
    width: 1% !important;
  }
}

@media screen and (min-width: 995px) {
  body {
    background-repeat: repeat;
    background-position: 50% 0;
  }
}
